*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto',sans-serif;
}
#navbar{
    background: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 500;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #ffa500;

}
.navbar-toggler span{
    color:  #ffa500;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;

}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: #f9f9f9;
}
.home {
    width: 100vw;
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(images/haert.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h3{
    color: #f9f9f9;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;

}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}

.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: ;
}
.home .content a:hover{
    background: #ffa500;
    color: #f9f9f9;
}
.h2{
    text-align: center;
}









